<div class="flex bg-[#F3F3F1] border-b border-[#D9D9D8]">
  <div class="pl-1 pr-3 py-3 flex ml-2">
    <svg
      class="text-[#2F2F2E]"
      width="22"
      height="22"
      viewBox="0 0 34 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M24.1401 12.7667V29.9707"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M9.86011 18.8867V29.9707"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M17.0001 3.58679V29.9708"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <span class="text-[#2F2F2E] font-normal pl-6">History</span>
  </div>
</div>
