<nav class="bg-[#F3F3F1] w-52 h-screen">
  <div class="py-4 px-4">
    <a class="h-12 w-20" href="/">
      <span class="sr-only">Beyonic</span>
      <img
        class="h-11 w-auto"
        src="assets/logo-beyonic.png"
        alt="Logo Beyonic"
      />
    </a>
  </div>
  <div class="flex flex-col">
    <div class="py-3 px-4">
      <p class="uppercase text-xs tracking-[.08em]">YOUR ACCOUNT</p>
    </div>
    <div class="flex bg-[#F9F9F9]">
      <div class="content-['-'] bg-[#0077BA] h-100 w-1 ml-0"></div>
      <div class="pl-1 pr-3 py-3 flex ml-2">
        <svg
          width="22"
          height="22"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14 1.25L1.58997 9.75V24.421C1.62657 25.7116 2.67885 26.7414 3.96997 26.75H9.95397V14.731H17.536V26.75H23.979C24.6267 26.75 25.2476 26.4916 25.704 26.032C26.1604 25.5724 26.4145 24.9497 26.41 24.302V9.682L14 1.25Z"
            fill="#0077BA"
            stroke="#006FAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="text-[#0077BA] font-medium pl-6">Home</span>
      </div>
    </div>
    <div class="flex bg-[#F3F3F1] border-b border-[#D9D9D8]">
      <div class="pl-1 pr-3 py-3 flex ml-2">
        <svg
          class="text-[#2F2F2E]"
          width="22"
          height="22"
          viewBox="0 0 34 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M29.41 14.3307H4.58997L11.883 8.19373"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4.58997 20.8417H29.41L22.117 26.9787"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="text-[#2F2F2E] font-normal pl-6">Transfer</span>
      </div>
    </div>
    <div class="flex bg-[#F3F3F1] border-b border-[#D9D9D8]">
      <div class="pl-1 pr-3 py-3 flex ml-2">
        <svg
          class="text-[#2F2F2E]"
          width="22"
          height="22"
          viewBox="0 0 34 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.1401 12.7667V29.9707"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.86011 18.8867V29.9707"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.0001 3.58679V29.9708"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="text-[#2F2F2E] font-normal pl-6">History</span>
      </div>
    </div>
  </div>
</nav>
