<div class="pl-14 pt-16 pr-28">
  <div class="bg-[#f9f9f9] w-full mb-4">
    <h1 class="font-medium text-2xl text-left">Hi John,</h1>
  </div>
  <div class="w-full flex justify-between">
    <div class="bg-white rounded-[10px] p-2 w-88 text-white">
      <div
        class="bg-gradient-to-r from-[#006FAB] to-[#00456B] w-full flex items-center justify-between rounded-[8px] h-32 p-3"
      >
        <div class="text-xs flex justify-between flex-col">
          <span class="">Balance</span>
          <div class="flex text-white items-baseline">
            <span class="font-bold text-2xl">9,485,760</span>
            <span class="text-xs uppercase pl-2.5">UGX</span>
          </div>
          <div class="">
            <span class="">Spent this week</span>
          </div>
        </div>

        <div>
          <svg
            width="22"
            height="22"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M25.1663 25.4644C22.7034 27.1812 19.722 27.9921 16.7288 27.7594C11.5324 27.1651 7.08398 23.7607 5.15259 18.9C6.46236 15.9363 8.69354 13.4743 11.5145 11.88"
              stroke="white"
              stroke-width="2.4"
              stroke-linecap="round"
            />
            <path
              d="M16.7963 10.3275C22.7685 10.1597 28.1896 13.7986 30.2963 19.3893C29.7559 20.6158 29.0334 21.7536 28.1532 22.7643"
              stroke="white"
              stroke-width="2.4"
              stroke-linecap="round"
            />
            <path
              d="M20.9476 20.8574C20.2801 21.763 19.2207 22.2959 18.0957 22.2919C16.6124 22.3 15.2795 21.3877 14.7501 20.0022C14.2206 18.6166 14.6056 17.048 15.7163 16.0649"
              stroke="white"
              stroke-width="2.4"
              stroke-linecap="round"
            />
            <path
              d="M5.99634 5.73755L28.8282 28.5694"
              stroke="white"
              stroke-width="2.4"
              stroke-linecap="round"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-[10px] w-88 p-4">
      <span class="text-xs pb-4">Quick actions</span>
      <div class="flex justify-between">
        <div class="bg-[#CAECFF] h-10 w-12 rounded-[10px]"></div>
        <div class="bg-[#CAECFF] h-10 w-12 rounded-[10px]"></div>
        <div class="bg-[#CAECFF] h-10 w-12 rounded-[10px]"></div>
        <div class="bg-[#CAECFF] h-10 w-12 rounded-[10px]"></div>
      </div>
    </div>
  </div>
  <div class="w-full bg-white"></div>
</div>
